* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  float: left;
  list-style: none;
  padding: 10px;
  margin-top: 10px;
}
nav {
  float: right;

  margin-top: -3px;
}
.nav-a {
  text-decoration: none;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
a {
  text-decoration: none;
  font-size: 36px;
  color: rgb(85, 117, 165);
}

button {
  float: right;
  margin-left: 850px;
  margin-right: 46px;
  margin-top: 3px;

  width: 156px;
  height: 46px;
  border-radius: 5px;
  border: solid 1px #09c173;

  font-size: 16px;
  font-weight: 500;
  color: #09c173;
}
i {
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(80, 224, 87);
}

/*.Bitmap {
  width: 1500px;
  height: 650px;
  margin: 82px 0 0;
  padding: 128px 90px 100px 20px;
  object-fit: contain;
  margin-top: -159px;
}*/

img {
  width: 1519px;
  height: 650px;
  margin: -20px 0 0;
  object-fit: contain;
  margin-top: -10px;
}
btn-arreglo1 {
  margin: 100px auto;
  position: relative;
  display: flex;
  align-items: center;
}

header {
  background-color: white;
}
.txt-parrafo {
  position: absolute;
  margin-top: -535px;
  margin-left: 35px;
}
.txt-parrafo h1,
p {
  padding: 10px 5px;
  font-family: Rubik;
  color: azure;
  font-size: 60px;
}

p {
  font-size: 32px;
}

/* Arreglos personales */
.ilus_ale-05 {
  width: 440px;
  height: 450px;
  margin: 15px 120px 0 44px;
  object-fit: contain;
  margin-top: 15px;
  margin-right: 20px;
}
.ilus_ale-06 {
  width: 440px;
  height: 447px;
  margin: 108px 21px 4px 43px;
  object-fit: contain;
  margin-top: 35px;
  margin-right: 57px;
  float: right;
}

.container-01 {
  width: 100%;
  display: flex;
  max-width: 820px;
}
.card01 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card01:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card01 .contenido-01 h1 {
  color: black;
  font-family: Rubik;
  font-size: 44px;
}
.card01 .contenido-01 p {
  margin-top: 10px;
  color: #6a6a6a;
  line-height: 1.5;
  font-family: Lato;
  font-size: 26px;
}

.container-02 {
  width: 100%;
  display: flex;
  max-width: 850px;
  float: right;
  margin: 10px 10px 5px 6px;
}
.card02 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card02:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card02 .contenido-02 h1 {
  color: black;
  font-family: Rubik;
  font-size: 44px;
}
.card02 .contenido-02 p {
  margin-top: 20px;
  color: #6a6a6a;
  line-height: 1.5;
  font-family: Lato;
  font-size: 26px;
}
